<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="%highlight{[%-5level]}{STYLE=Logback} %style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{cyan} %style{%c{1}}{green} %style{[%M %L]}{magenta} : %msg%n"
            />
        </Console>
        <RollingFile name="RollingFileAppender" fileName="logs/TestRun.log"
                     filePattern="logs/${date:yyyy-MM}/TestRun-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout disableAnsi="false"
                           pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} [%M %L] : %msg%n"
            />
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>